EXPO_PUBLIC_SUPABASE_URL=https://caczaozjaxqxzctphdfd.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNhY3phb3pqYXhxeHpjdHBoZGZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2MTMwNTgsImV4cCI6MjEwNTE4OTA1OH0.FuhicfVh2FcNSD_RCQOMkEaLDxu459pOfqrC-rrV328
EXPO_PUBLIC_API_URL=http://localhost:5000
EXPO_PUBLIC_APP_URL=http://localhost:8081
EXPO_PUBLIC_RAZORPAY_KEY_ID=rzp_test_Te0arN8rBt1JZg
