# ========================================================
# PharmaFlow ERP & Platform SaaS - Environment Template
# ========================================================

# Frontend Variables (Expo Web / Mobile)
EXPO_PUBLIC_SUPABASE_URL=https://caczaozjaxqxzctphdfd.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNhY3phb3pqYXhxeHpjdHBoZGZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2MTMwNTgsImV4cCI6MjEwNTE4OTA1OH0.FuhicfVh2FcNSD_RCQOMkEaLDxu459pOfqrC-rrV328
EXPO_PUBLIC_API_URL=http://localhost:5000
EXPO_PUBLIC_APP_URL=http://localhost:8081
EXPO_PUBLIC_RAZORPAY_KEY_ID=rzp_test_Te0arN8rBt1JZg

# Backend Variables
PORT=5000
DATABASE_URL=postgresql://postgres.caczaozjaxqxzctphdfd:pharmaflow%40123@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres
SUPABASE_URL=https://caczaozjaxqxzctphdfd.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNhY3phb3pqYXhxeHpjdHBoZGZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTYxMzA1OCwiZXhwIjoyMTA1MTg5MDU4fQ.ub-PE608RXGfeSbVsubfXEc7Cxd8mx2APsxUadDxHsE
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNhY3phb3pqYXhxeHpjdHBoZGZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2MTMwNTgsImV4cCI6MjEwNTE4OTA1OH0.FuhicfVh2FcNSD_RCQOMkEaLDxu459pOfqrC-rrV328
SUPABASE_JWT_SECRET=L04QbVFLUNDrqT1FGNPkQt4Rpj+Z4beMxRe98k5jYxTM1t6fqMzdnFHIkeVbDIXG2ab7f1nG+ZtQ5uNWXf4YUg==
ALLOW_DEV_AUTH=true
JWT_SECRET=falah_pharmacy_secret_jwt_key_2026_dev
RAZORPAY_KEY_ID=rzp_test_Te0arN8rBt1JZg
RAZORPAY_KEY_SECRET=WtHQfh6ghLBM2xiYdaEvoXg0
